<!-- Call to actions -->
<section class="mx-4 overflow-hidden section">
  <div class="container relative px-8 py-16 text-white bg-primary sm:p-24 lg:px-36 lg:py-44 rounded-xl">
   <div class="flex flex-col items-center justify-center">
    <h2 class="pb-4 text-center text-white" data-aos="fade-up-sm" data-aos-delay="200">Layanan Digital Cepat & Terpercaya</h2>
    <div data-aos="fade-up-sm" data-aos-delay="300">
      <p class="max-w-xl pb-8 text-center">Ribuan klien sudah membuktikan layanan kami. Sekarang giliran kamu amankan privasi dan bangun bisnismu.</p>
      <div class="w-fit mx-auto block">
        <a href="contact.html" class="z-10 btn btn-secondary">Get Started Now</a>
      </div>
  </div>
   </div>
     <img src="images/cta/cta-img-1.png" alt="Background Image" class="absolute w-1/2 transform -translate-x-1/2 left-1/2 rotate-6">
     <img src="images/cta/cta-img-2.png" alt="Background Image" class="w-1/3 absolute top-5 -left-[10%]">
     <img src="images/cta/cta-img-2.png" alt="Background Image" class="w-1/3 absolute top-0 -right-[10%]">
  </div>
</section>
<!-- /Call to actions -->
