
  <div class="container text-center">
      <h1 class="h2" data-aos="fade-up-sm" data-aos-delay="100">@@title</h1>
      <ul class="breadcrumb mt-4 inline-flex" data-aos="fade-up-sm" data-aos-delay="200">
        <li class="mx-1 capitalize text-light">
          @@job-type
        </li>
        <li class="mx-1 capitalize text-light flex items-center gap-2">
          <span class="w-1.5 h-1.5 rounded-full bg-dark inline-block"></span>
          @@location
        </li>
        <li class="mx-1 capitalize text-light flex items-center gap-2">
          <span class="w-1.5 h-1.5 rounded-full bg-dark inline-block"></span>
          @@open-positions
        </li>
        <li class="mx-1 capitalize text-light flex items-center gap-2">
          <span class="w-1.5 h-1.5 rounded-full bg-dark inline-block"></span>
          @@salary
        </li>
      </ul>
  </div>