<div class="row justify-center">
  <div class="lg:col-8">
    <div class="flex flex-col gap-5">
      <div class="row lg:gx-4 items-center border sm:px-4 py-3 rounded-lg" data-aos="fade-up-sm" data-aos-delay="200">
        <div class="md:col-6">
          <div class="flex items-center gap-5">
            <div class="bg-secondary/15 w-10 h-10 rounded-full flex justify-center items-center">
              <p class="text-secondary font-bold text-lg">1</p>
            </div>
            <p class="font-semibold">Customers Services</p>
          </div>
        </div>
        <div class="md:col-6">
          <div class="flex justify-between items-center pt-3 lg:pt-0">
            <p class="text-light">Full-time</p>
            <p class="text-light">Remote</p>
            <a href="career-details.html" class="btn border border-secondary text-secondary hover:opacity-80">Apply Now</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
