.bg-gradient {
  @apply bg-gradient-to-b from-[rgba(249,249,249,1)] from-[0.53%] to-white to-[83.28%];
}

.rounded-sm {
  @apply rounded-[4px];
}
.rounded {
  @apply rounded-[6px];
}
.rounded-lg {
  @apply rounded-[12px];
}
.rounded-xl {
  @apply rounded-[16px];
}

.shadow {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}


.hover-border-effect {
  @apply relative border-b border-border transition duration-300;
  &::after{
    @apply content-[''] absolute -bottom-px left-0 w-0 h-px bg-secondary transition-all duration-300;
  }
  &:hover::after{
    @apply w-[40%];
  }
}

.odd-reverse:nth-child(odd){
  @apply flex-row-reverse;
}

/* spin-animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 60s linear infinite;
}




// aos animation
[data-aos="fade-up-sm"] {
  transform: translateY(30px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="fade-left-sm"] {
  transform: translateX(30px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}
[data-aos="fade-right-sm"] {
  transform: translateX(-30px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}




// MARQUESS SWIPPER
.swiper-marquee-container {
  @apply w-full h-full relative;
}
.swiper-marquee-container .swiper-wrapper {
  @apply  relative;
  transition-timing-function: linear !important;
}
.swiper-marquee-container .swiper-slide {
  @apply flex justify-center items-center w-auto relative overflow-hidden;
}
@keyframes line-slide {
  0% {
    background-position: -5% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
